@font-face {
    font-family: 'Light';
    src:  url('../Fonts/JetBrainsMono-Thin.woff2') format('woff2');          
}

@font-face {
    font-family: 'Normal';
    src:  url('../Fonts/JetBrainsMono-Regular.woff2') format('woff2');
          
}

@font-face {
    font-family: 'Bold';
    src:  url('../Fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
          
}



$font-primary: 'Normal';
$font-primary-light: 'Light';
$font-primary-bold: 'Bold';


$color-white : "#fff";

